
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color:#777;
  padding:30px;
}

.App-header{
  height:95vh;
  background-image:url(static/img/hero3.jpg);
  background-size: cover;
  background-position: top;

  position: relative;
}

.header-content{
  position: absolute;
  top:63%;
  left:50%;
  transform:translateX(-50%);
  text-align: center;
}


.main-content{
  color:#333333;
  line-height:160px;
  letter-spacing:2px;
  font-size: 60px;
  font-family: 'Open Sans Condensed', sans-serif;

}

.btn-link:link , .btn-link:visited{
  
  padding:10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  
  display: inline-block;

}

.btn-link:hover{
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.btn-link:active{
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}


.btn-started{
  background-color:#f02b3f;
  color:white;
}


@keyframes MoveInLeft{

  0%{
    opacity: 0;
    transform: translateX(-100px);
}

100%{
    opacity: 1;
    transform:translateX(0);
}


}